* {
    outline-width: 0px;
    text-shadow: none;
}

.sidebar-label {
    border: 2px solid white;
    background-color: black;
    color: white;
    opacity: 0.8;
    padding: 2px;
    border-radius: 5px;
}

.sidebar-close {
    background-color: black;
    color: white;
    border-radius: 30px;
}

.sidebar-item {
    border: 1px solid shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 1.5);
    margin: 2px;
    border-radius: 2px;
}

.urlbar {
    padding-right: 30px;
}
