* {
    outline-width: 0px;
    text-shadow: none;
}

.progressbar progress {
    background-color: @theme_selected_bg_color;
    background-image: none;
    border: none;
}

.progressbar trough {
    border: none;
    background-color: transparent;
    background-image: none;
}

.sidebarchild-title {
    background-color: @theme_selected_fg_color;
    opacity: 0.96;
}

.sidebarchild-image {
    background-color: @theme_selected_fg_color;
}

.sidebar-close {
    background-color: black;
    color: white;
    border-radius: 30px;
}

.sidebar-item {
    border: 1px solid shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 1.5);
    margin: 2px;
    border-radius: 2px;
}

.sidebar-item-selected{
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
}

.uribar {
    padding-right: 28px;
}

.input {
    background-color: alpha(@theme_selected_bg_color, 0.1);
}

.uribar-title {
    background-color: transparent;
    background-image: none;
}

.red {
    color: shade(red, 0.8)
}

.downloadrow {
    padding: 0px;
    background-color: transparent;
    color: inherit;
}

.downloadrow:hover {
    border-radius: 5px;
    background-color: alpha(@theme_fg_color, 0.05);
    color: inherit;
}

.transparent {
    background-color: transparent;
}

.flat-button {
    border-radius: 20px;
}
