* {
    outline-width: 0px;
    text-shadow: none;
}

treeview {
    padding: 2px 2px 2px 2px;
}

treeview:selected:hover {
        background-color: shade(@theme_selected_bg_color, 0.9);
        color: @theme_selected_fg_color;
}

treeview:hover {
    background-color: alpha(@theme_fg_color, 0.05);
    color: @theme_fg_color;
}

treeview.separator {
    color: alpha(@theme_fg_color, 0.1);
}

treeview .image:selected{
    color: @theme_selected_fg_color;
}

.sidebarchild-title {
    background-color: @theme_selected_fg_color;
    opacity: 0.97;
}

.sidebarchild-image {
    background-color: @theme_selected_fg_color;
}

.sidebar-close {
    background-color: black;
    color: white;
    border-radius: 30px;
}

.sidebar-item {
    border: 1px solid shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 1.5);
    margin: 2px;
    border-radius: 2px;
}

.sidebar-item-selected{
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
}

.uribar {
    padding-right: 28px;
}

.uribar-title {
    background-color: transparent;
    background-image: none;
}
